
#app{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

@keyframes index-enter{
	from {transform: translate(100%, 0);}
	to {transform: translate(0, 0);}
}
.index-enter-active{
	animation: index-enter 0.3s;
}
.index-leave-active{
	display: none;
	height: 0;
	animation: index-enter 0s;
}

#container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
	.header{
   		box-sizing: border-box;
		flex: 2;
		max-height: 2.6rem;
	    border-bottom: 1px solid #ccc;
		.main-header{
			    background: #e22;
			    display: flex;
			    flex-flow: row nowrap;
			    justify-content: space-between;
			    align-items: stretch;
			    color: #fff;
		        padding: 0.3rem 0.5rem;
			h1{
				flex: 8;
				font-size: 0.5rem;
				text-align: center;
			}
			button{
				flex: 1;
				font-size: 0.4rem;
				background: transparent;
				border: 0;
				i{
					color: #fff;
				}
			}
		}
		.sub-header{
			background: #fff;
		    color: #666;
		    display: flex;
		    flex-flow: row nowrap;
		    justify-content: space-around;
		    align-items: stretch;
	        
			a{
				flex: 1;
				text-align: center;
				font-size: 0.4rem;
				color: #666;
				padding: 0.3rem 0;
				margin: 0 0.2rem;
				&.router-link-active{
				    color: #e22;
    				border-bottom: 5px solid #e22;
				}
			}
		}
	}
	.header+div{
		height: 100%;
	    flex: 16;
	    width: 100%;
	    overflow: auto;
	}
	#main{
	    #slides li img{
	    	width: 100%;
	    }
	    .dailyNav{
	    	display: flex;
	    	flex-flow: row nowrap;
	    	justify-content: space-around;
	    	align-items: stretch;
	    	margin-top: 0.4rem;
	    	li{
	    		flex: 1;
	    		text-align: center;
	    		i{
    			    font-size: 1rem;
				    display: inline-block;
				    width: 1.8rem;
				    height: 1.8rem;
				    line-height: 1.9rem;
				    border: 1px solid #ccc;
				    border-radius: 50%;
				    margin-bottom: 0.2rem;
	    		}
	    		label{
	    			display: block;
	    			font-size: 0.36rem;

	    		}
	    	}
	    }
	    #recommendNav{
	    	margin-top: 0.5rem;
	    	border-top: 1px solid #ccc;
	    	h2{
				/* font-size: 0.48rem; */
				font-size: 0.4rem;
			    padding: 0.3rem 0.3rem;
			    border-left: 0.14rem solid #e22;
	    	}
	    	dl{
	    		display: flex;
	    		flex-flow: row wrap;
	    		justify-content: space-around;
	    		dd{
	    			flex: 1 0 31%;
	    			margin: 0 0.1rem 0.2rem 0;
	    			position: relative;
	    			&:nth-child(3n){
	    				margin-right: 0;
	    			}
	    			label.playedCount{
	    				position: absolute;
					    top: 0.2rem;
					    right: 0.2rem;
					    color: #fff;
					    background: rgba(47, 40, 40, 0.6);
					    padding: 0.1rem 0.2rem;
					    border-radius: 20px;
					    i{
					    	    color: #fff;
    						font-size: 0.4rem;
					    }
	    			}
	    			img{
	    				width: 100%;
	    				    border-radius: 10px;
    					overflow: hidden;
	    			}
	    			p{
				    	/* font-size: 0.36rem; */
				    	font-size: 0.3rem;
    					padding: 0.2rem 0.16rem;
	    			}
	    		}
	    	}
	    }
	}
}

#recommend.recommend-enter-active, #recommend.recommend-leave-active{
	transition: all .5s;
}
#recommend.recommend-enter, #recommend.recommend-leave-to{
	//opacity: 0;
	transform: translate(100%, 0);
}
#recommend{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    display: flex;
	flex-flow: column nowrap;
	header{
		flex: 2.1;
		position: relative;
		overflow: hidden;
		p{
		display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-between;
        padding: 0.5rem 0.3rem 0.3rem;
        position: relative;
    z-index: 1;
			i{
				flex: 1;
				font-size: 0.68rem;
				font-weight: 600;
			}
			span{
				flex: 5;
				font-size: 0.46rem;
			}
		}
		
		>div.bg{
			position: absolute;
			top:0; right: 0; bottom: 0; left: 0;
			filter: blur(60px);
			-webkit-filter: blur(60px);
   			opacity: 0.3;
   			z-index: 0;
		}
		div:last-child{
			position: relative;
			    padding: 0.3rem 0.5rem 0.5rem 0.8rem;
			    overflow: hidden;
			img{
				width: 3rem;
    			height: 3rem;
    			float: left;
   				margin-right: 0.3rem;
			}
			h3{
			    float: left;
			    width: 5rem;
	       		font-size: 0.44rem;
			    margin-top: 0.3rem;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 2;
			}
		}
	}
	div.content{
	    flex: 4;
	    //margin-top: 1rem;
	    border-top: 1px solid #666;
	    ul{
	    	li{
    		    padding: 0.46rem 0.5rem;
			    font-size: 0.46rem;
			    border-bottom: 1px solid #ccc;
	    	}
	    	li.playing{
	    		color: #e22;
	    		i{
			    	color: #e22;
			    }
	    	}
	    }
	}
}


#collection{
	ul{
		li{
            padding: 0.5rem 0.4rem;
		    //border-bottom: 1px solid #ccc;
		    border-bottom: 1px solid #e6e6e6;
		    display: flex;
		    flex-flow: row nowrap;
		    align-items: stretch;
    		h3{
			    font-size: 0.46rem;
			    width: 85%;
			    margin-right: 5%;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
    			&.playing{
    				color: #e22;
    				i{
	    				color: #e22;
    				    vertical-align: middle;
	    			}
    			}
    			b{
				    display: inline-block;
			        padding-left: 0.1rem;
    			}
    		}
    		i.icon-trash{
    			align-self: flex-end;
    			color: #666;
    		}
		}
	}
}
.listEnd{
	text-align: center;
	color: #999;
	font-size: 0.4rem;
	width: 100%;
	padding: 0.6rem 0;
}

#account{
	background: #fafafa;
	.user-info{
		padding: 0.4rem 0.5rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		background: #fff;
		border-bottom: 1px solid #ccc;
		img{
			flex: 1;
			width: 100%;
			height: 100%;
			margin-right: 0.3rem;
		}
		div{
			flex: 4;
			h3{
				font-size: 0.48rem;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    width: 100%;
			    margin-bottom: 0.1rem;
			}
			label{
				font-size: 0.32rem;
			}
		}
	}
	.operate{
		margin-top: 0.6rem;
		ul{
			background: #fff;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-bottom: 0.4rem;
			li{
				border-bottom: 1px solid #e6e6e6;
				padding: 0.3rem 0.5rem;
				font-size: 0.4rem;
				&:last-child{
					border-bottom: 0;
				}
				i{
					font-size: 0.4rem;
				}
			}
		}
		.log-out{
			display: none;
			width: 8rem;
			margin: 0 auto;
			padding: 0.26rem 0;
			background: #e22;
			border-radius: 20px;
			color: #fff;
			text-align: center;
			font-size: 0.4rem;
			i{
				color: #fff;
				font-size: 0.4rem;
			}
		}
	}
}

@keyframes player-enter{
	from {transform: translate(100%, 0);}
	to {transform: translate(0, 0);}
}
#music-player-page.player-enter-active{
	animation: player-enter 0.3s;
}
#music-player-page.player-leave-active{
	animation: player-enter 0.3s reverse;
}
#music-player-page{
    position: absolute;
    top: 0;
    /* right: 0; */
    bottom: 0;
    /* left: 0; */
    background: #fff;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;
    .bg{
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	z-index: -1;
    	opacity: 0.4;
    	filter: blur(50px) brightness(0.3);
    	-webkit-filter: blur(50px) brightness(0.3);
    	img{
		    width: 170%;
		    height: 100%;
		    position: relative;
		    left: -50%;
    	}
    }
    header{
	    flex: 1;
	    background: transparent;
	    border-bottom: 1px solid #fff;
    	div{
    		display: flex;
	    	flex-flow: row nowrap;
	    	justify-content: space-between;
	    	height: 100%;
	    	button{
	    		flex: 1.5;
	    		background: transparent;
	    		border: 0;
	    		i{
		    		color: #fff;
		    		font-size: 0.8rem;
		    	}
	    	}
	    	h3{
	    		flex: 8;
	    		text-align: center;
	    		padding: 0.3rem 0;
	    		font-size: 0.5rem;
	    		color: #fff;
	    		p{
	    			font-size: 0.4rem;
	    		}
	    	}
	    	
    	}
    }
    .content{
    	    flex: 12;
		    display: flex;
		    flex-flow: column nowrap;
		    justify-content: space-around;
    	div.disc{
		    flex: 3;
			height: 100%;
			>div{
			text-align: center;
		    padding: 1.2rem 0;
		    position: relative;
    		//top: 20%;
    		margin-top: 2rem;
				img{
				width: 5rem;
				height: 5rem;
				}
				span{
				    display: inline-block;
				    width: 8rem;
				    height: 8rem;
				    background: url(../image/coverall.png) 81% 45%;
				    background-size: 14rem;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    margin: -4rem 0 0 -4rem;
				}
			}
		}
	}
}


#volume-ctrl{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#volume-ctrl>i{
    flex: 1;
    text-align: right;
    position: relative;
    top: 0.05rem;
}
#volume-ctrl>span{
	text-align: left;
	flex: 1;
}
#volume-ctrl p{
	height: 0.2rem;
	/* width: 8rem; */
	flex: 5;
	background: #eee;
	margin: 0.5rem 0.2rem;
	position: relative;
	border-radius: 5px;
}
#volume-ctrl p b{
    position: relative;
    display: block;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: #39c;
    border-radius: 5px;
}
#volume-ctrl p b i{
	position: absolute;
	 top: -0.25rem; 
	right: -0.3rem;
}

/* player */
#music-player{
	position: relative;
	//background: rgba(255, 255, 255, 0.5);
	flex: 1.1;
    height: 100%;
}
#music-player audio{
	display: none;
}
#music-player div.progress{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	height: 1.5rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: .4rem;
}
#music-player div.progress .playing-time,
#music-player div.progress .length{
	flex: 1;
	text-align: center;
	color: #fff;
	font-size: 0.4rem;
}
#music-player div.progress .progress-bar{
	display: inline-block;
	flex: 3.5;
	height: 0.1rem;
	background: #eee;
	position: relative;
	top: 45%;
	border-radius: 5px;
}
#music-player div.progress .progress-bar b.playing-bar{
	display: block;
	position: relative;
	left: 0;
	top: 0;
	background: #39c;
	width: 0;
	height: 100%;
	line-height: 100%;
	z-index: 2;
	transition: all 0.05s;
	border-radius: 5px;
}
#music-player div.progress .progress-bar b.playing-bar i{
	position: absolute;
	top: -0.05rem;
	right: -0.3rem;
	/*margin-left: -0.3rem;*/
}
#music-player div.progress .progress-bar b.buffered-bar{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #ccc;
	z-index: 1;
	border-radius: 5px;
}
#music-player p.ctrl{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	text-align: center;
	height: 1.5rem;
	line-height: 1.5rem;
}
#music-player p.ctrl i{
	flex: 1 0 auto;
	font-size: .7rem;
	    color: #fff;
}
#music-player p.ctrl i.icon-iconbofangqibofang,
#music-player p.ctrl i.icon-iconbofangqizanting{
	font-size: 1.4rem;
}